@{
    ViewBag.Title = "Observable array";
}






<h2>@ViewBag.Title.</h2>

<div id="main">
    <div class="showroom">
        <div>
            <span data-bind="text:products().length"></span><span>Products</span>
        </div>
        <div>
            <select multiple="multiple"
                    data-bind="options:products, selectedOptions:selectedProducts , optionsText:'description'"></select>





        </div>





    </div>




</div>




