@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>with knockout</h2>
    <span>item number:</span> <span data-bind="text:itemNumber"></span>
    </br>
    <span>Guitar mode:</span> <input data-bind="value:model" />
    </br>
    <span>Sales price:</span><input data-bind="value:salesPrice" />




</div>

